:root{
    --cor-branca: #FFFFFF;
    --cor-azul-clara: #97CBEB;
    --cor-azul-mais-clara: #4dffd2;
    --cor-laranja:  #BDD3E2;
    --cor-cinza: #E7E9E7;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-cinza);
}
.navbar{
    background-color: var(--cor-laranja);
}
.navbar-brand{
    padding-left: 50px;
    padding-right: 50px;
}
.nav-item a{
    text-decoration: none;
    color: #000000;
}
.nav-item a:hover{
    color: #555555;
    font-weight: bold;
}
.container-cursos{
    background-color: var(--cor-laranja);
    margin: 8% 3%;
    padding:50px;
    border-radius: 20px;
    box-shadow: 0 5px 10px #cccc;
}
.container-titulo{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.accordion{
    width: 100%;
    display:flex;
    align-items:baseline;
}
.card-img-top{
    display: block;
    padding: 0.5rem;
}
.container-descricao{
    margin: 0 20px 0 20px;
}
.bg-footer{
    background-color: var(--cor-laranja);
    padding: 2em;
}
.rounded-circle{
    max-width: 10%;
}

@media screen and (max-width: 1130px){
    .container-texto, .container-cursos, .container-titulo{
        margin: 30px 10px;
        padding: 10px 10px 50px 10px;
        max-width: 900px;
    }
    .accordion{
        display: grid;
        flex-direction: column;
        min-width: 200px;
        
    }
    .card{
        display: block;
        margin: 0 auto;
    }
}