:root{
    --cor-branca: #FFFFFF;
    --cor-azul-clara: #97CBEB;
    --cor-azul-mais-clara: #4dffd2;
    --cor-laranja:  #BDD3E2;
    --cor-cinza: #E7E9E7;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-cinza);
}
.navbar{
    background-color: var(--cor-laranja);
}
.navbar-brand{
    padding-left: 50px;
    padding-right: 50px;
}
.nav-item a{
    text-decoration: none;
    color: #000000;
}
.nav-item a:hover{
    color: #555555;
    font-weight: bold;
}
.container-titulo{
    margin-bottom: 20px;
}
.container-texto{
    background-color: var(--cor-laranja);
    text-align: center;
    margin: 10% 20% 10% 20%;
    padding: 100px;
    border-radius: 20px;
    box-shadow: 0 5px 10px #cccc;
}
.bg-footer{
    background-color: var(--cor-laranja);
    padding: 1cm;
}
.rounded-circle{
    max-width: 10%;
}

@media screen and (max-width: 480px){
   .container-texto, .container-descricao, .container-titulo{
       margin: 30px 20px;
       padding: 10px 10px;
   }
}